@mixin make-hover() {
  &:link,
  &:visited {
    &:hover,
    &:focus {
      @content;
    }
  }
}


// these hover states. Something's got to be done about them.
// I think the best solution for most of these is: if they
// don't have an underline, add one. If they do, take it
// away. If it's a button or nav, maybe something fancier is
// in order.


a:not(
  .btn,
  .nav-link
) {
  color: var(--section-text-color, var(--color-vassar-charcoal));

  @include make-hover() {
    color: var(--section-text-color, var(--color-vassar-charcoal));
  }
}


p, li, details {
  a:not(
    .btn,
    .breadcrumb-link,
    .breadcrumb-item,
    .nav-link
  ) {
    color: var(--section-text-color, var(--color-vassar-charcoal));
    border-bottom: 1px solid var(--section-text-color, var(--color-vassar-charcoal));

    color: var(--main-bg-color, var(--backup-bg-color));

    &:visited {
      border-bottom: 1px dashed var(--section-text-color, var(--link-underline-color));
    }

    &:link,
    &:visited {
      &:hover,
      &:focus {
        color: var(--section-text-color, var(--color-vassar-charcoal));
        border-bottom: none;
      }
    }
  }
}

a.btn-link {
  transition: 0.4s all ease;
  transition-property: color, background-color;

  &:link {
    background-color: var(--section-link-bg-color, transparent);
    color: var(--section-link-color, var(--color-vassar-burgundy));
  }

  &:visited {
    color: var(--section-link-color, var(--color-vassar-burgundy));
  }

  &:hover,
  &:visited:hover,
  &:focus,
  &:visited:focus {
    background-color: transparent;
//    color: var(--section-link-color, #{$red});
  }
}


footer a {
  border: 1px solid transparent;

  @include make-hover() {
    border-bottom: 1px solid rgba(255,255,255,0.6);
  }
}


/* exceptions */

.megamenu-site-nav,
.linked-list {
  a:link {
    border: none;
  }
}

.btn {
  @include make-hover() {
    border-color: transparent;
  }
}



.burgundy {
  &-link {
    font-variation-settings: "wght" 400;
    border-bottom-color: var(--color-vassar-burgundy) !important;

    &:link,
    &:visited {
      color: var(--color-vassar-burgundy) !important;

      &:hover,
      &:focus {
        color: var(--color-vassar-burgundy) !important;
      }
    }
  }
  &-cta-link {
    .fa-solid {
      border: 2px solid var(--color-vassar-burgundy);
      background: #fff;
      color: var(--color-vassar-burgundy);
    }

    &:link,
    &:visited {
      color: var(--color-vassar-burgundy) !important;

      &:hover,
      &:focus {
        .fa-solid {
          border: 2px solid var(--color-vassar-burgundy);
          background: var(--color-vassar-burgundy);
          color: #fff;
        }
      }
    }
  }
}
