/* Partial Masthead */

.partial-masthead  {
  .section__title__main {
    text-shadow: 0 0 1rem #000;
  }
  .supertitle {
      font-size: 2rem;
      border-bottom: 1px solid #fff;
      display: inline-block;
      width: fit-content;
      padding-bottom: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
  }

  min-height: auto;
    .title-container, .section-bg {
      height: 80vh;
    }
    .title-container{
      padding-bottom:4vw;
    }
}
