
.hamburger-navigation .fa-bars {
  padding: 0 0 0 0.5rem;
}


.hamburger-navigation {
  position: fixed;
  top:  1em;
  right: 1em;
  z-index: 22;
}

a[data-bs-toggle="collapse"] {
  transition: 0.4s all ease;
  &:hover {
    color: #f00 !important;
  }
}

.main-site-nav {
  --underline-color: #f00;
  --underline-color: #fff;
  --underline-color-2: rgba(255,255,255,0.2);
  --underline-color-2: #f00;
  --underline-color-2: rgba(255,0,0,0.2);
  $nav-item-border-size: 1px;
  hr {
    display: none;
  }
  .main-nav-link {
    width: 100%;
  }
  a {
    display: block;
//    background-image: linear-gradient(to right, var(--underline-color) 0%, var(--underline-color) 100%), linear-gradient(to right, var(--underline-color-2) 0%, var(--underline-color-2) 100%);
    text-decoration: none;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px bottom;
    transition: background 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    transition-property: background, color;
    background-image: linear-gradient(to right, var(--underline-color) 0%, var(--underline-color) 100%), linear-gradient(to right, var(--underline-color-2) 0%, var(--underline-color-2) 100%);
    background-size: 0% $nav-item-border-size, 100% $nav-item-border-size;
    padding: 0.5rem 0;
    opacity: 0.8;

    &:hover,
    &:focus {
      opacity: 1;
      color: var(--section-nav-emphasis-color);
      background-size: 100% $nav-item-border-size;
    }
  }




}

.offcanvasmain {
  z-index:9999;
}

.offcanvas a {
  text-decoration: none;
}


.vassar-masthead-offcanvas svg {
  fill: $white;
  width: 140px;
}

.offcanvas-body::-webkit-scrollbar {
  display: none;
}



.vassar-masthead-offcanvas {
  --animation-delay: 0.4s;
  @include setup-animation-fade-in();

  .show & {
    @include animation-fade-in();
  }
}
