// This should contain all interior page nav styling.

// Settings

$nav-item-border-size: 2px;

:root {
  --underline-color: #{$red};
  --section-nav-emphasis-color: #{$red};
  --nav-outline-color: #{$gold};
}



.main-site-nav {
  padding: 2rem;

    @include break(sm) {
      padding: 3rem 0 3rem 4rem;
    }

  .breadcrumb,
  .nav {
    display: block;

    @include break(sm) {
      display: flex;
    }
  }

  .breadcrumb-item {
      padding-bottom: 1.2rem;
      position: relative;
  }

    @include break(sm, max) {
  .breadcrumb-item:after {
      content: "↓";
      position: absolute;
      left: 0;
      bottom: -0.1rem;
      color: #777;
  }
}
  .breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;

    @include break(sm, max) {
    display: none;
  }

/*
    @include break(sm, max) {
      content: '';
      border: 1px solid #aaa;
      height: 0.75rem;
      margin: 0 0.3rem 0.65rem -0.5rem;
      border-top: none;
      border-right: none;
      width: 0.4rem;
      display: block;
    }
*/

    @include break(sm) {
      content: '\f054';

    }
    color: #aaa;
    font-family: var(--font-icons);
    font-weight: 900;
    font-size: 0.9rem;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;

    @include break(sm, max) {
      padding-left: 0;
    }
  }

  .local-section-nav {
    padding: 0.2rem 0.8rem 0 0.8rem;
    border: 1px solid var(--nav-outline-color);
    border-bottom: none;
    margin-bottom: 1rem;
    max-width: 80rem;
  }

  .breadcrumb {
    padding: 1rem 0 0.8rem 0;

   .breadcrumb-item {
     position: relative;

      &:last-child:after {
        content: "";
        width: 1rem;
        height: 100%;
        top: 0.8rem;
        position: absolute;
        border: 1px solid var(--nav-outline-color);
        border-left: none;
        border-bottom: none;
        right: -1.4rem;
      }
    }
  }

  .nav-link {
    background-image: linear-gradient(to right, var(--underline-color) 0%, var(--underline-color) 100%);
    text-decoration: none;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px bottom;
    transition: background 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    transition-property: background, color;
    display: inline;
    background-image: linear-gradient(to right, var(--underline-color) 0%, var(--underline-color) 100%);
    background-size: 0% 4%;
    padding: 0.5rem 0;

    &:hover,
    &:focus {
      color: var(--section-nav-emphasis-color);
      background-size: 100% $nav-item-border-size;
    }
  }

  .nav-item {
    margin: 1rem 0.6rem 0 0.6rem;
  }

  .current-item {
    .nav-link {
      color: var(--section-nav-emphasis-color);
      background-size: 100% $nav-item-border-size;
    }
  }
}

.breadcrumb-item {
  font-size: 1.2rem;

  @include break(md) {
    font-size: 1.1rem;
  }
}

li.breadcrumb-item:last-child a {
  font-weight: bold;
  font-variation-settings: "wght" 800;

}

a.breadcrumb-link {
//  font-size: 1.1rem;
  font-variation-settings: "wght" 490;
}


.breadcrumb-link {
 --section-link-color: #{$gray-600};
 --section-link-visited-color: #{$gray-600};
 --section-link-hover-color: #{$red};

}
.breadcrumb-item:last-child a {
  --section-link-color: #{$red};
  --section-link-visited-color: #{$red};
}

.local-nav {
  padding-top: 2rem;
}

.nav-link {
  font-size: 1.2rem;
  font-variation-settings: "wght" 420;

  .current-item & {
    font-variation-settings: "wght" 666;
  }
}


.no-subnav {
  .breadcrumb-item {
    position: relative;

    &:last-child:after {
      display: none;
    }
  }
}
