/*
  This styling builds off that for sec_fullBleedImageColumn.
*/

.section.masthead--interiorPage {
  $spark-size: 7rem;

  .section--full-bleed-image-column__content {
    padding-top: 0;
  }

  .masthead-title {
    font-weight: $font-weight-bolder;
    letter-spacing: -0.028em;
    line-height: 1;
    position: relative;

    background-image: url(/assets/images/spark-up.gif);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 6rem;
    background-size: $spark-size;


    &:after {
      border: 2px solid $red;
      bottom: -2.5rem;
      content: '';
      left: calc(50% - 2rem);
      position: absolute;
      width: 4rem;
    }
  }

  .columns {
    grid-template-columns: 6fr 4fr !important;
  }

  .section-intro {
    color: $gray-600;
    font-size: $h2-font-size;
    --regularContent-lineHeight: 1.3;
    background-image: url('/assets/images/spark.gif');
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 7rem;
    background-size: $spark-size;
  }
}
