/*
 * This file needs some organization, since we have a few different kinds of cards. There are fancier cards, like the feature cards with images, but then there are going to be more generic cards: deadlines, notes, etc. Right now, all that styling is wrapped up together here.
 *
 * Future: separate out the fancy card styling from the generic card styling.

 */

.card {
  &.slightly-wider-image {
    --card-image-width: 56%;
  }
  .icon {
    margin-right: 0.4rem;
  }
}
.card,
.card-body,
.card img {
  transition: 0.4s all ease;
}

.card-header {
  font-family: var(--sansSerif);
  font-size: 1.3rem;
  font-variation-settings: "wght" 760;
  line-height: var(--regularContent-lineHeight);
}


.card-body {
  padding: var(--card-body-padding, clamp(1.2rem, -1.5rem + 8vw, 2rem));
  position: relative;

  p:only-child,
  p:last-child {
    margin-bottom: 0;
  }
}

.card {
  --regularContent-font-size: 1.1rem;
  --regularContent-lineHeight: 1.3;

  border-radius: var(--card-border-radius, 0.5rem);
  overflow: hidden;
  text-decoration: none;

  &:link .card-body {
    background-color: var(--section-bg-color, $white);
    color: var(--section-text-color, $gray-800);
  }

  &.card-is-link {
    border-width: 0;
  }
  &.card-is-link:hover,
  &.card-is-link:focus {
    --section-link-hover-bg-color: transparent;

    border-width: 0;
    border-color: transparent;
    filter: brightness(1.2);
    transform: scale(1.02);
    box-shadow: 0 0.2rem 0.8rem var(--box-shadow-color);
    z-index: 10;

    img {
      transform: scale(1.06);
      filter: contrast(0.9);
    }
  }

  img {
    border-radius: 0;
  }
}

.card--twocols {
  @include break(lg) {
    display: flex;
    flex-direction: row;
  }
  .cta-icon-label.btn.btn-link {
    padding-right: 4rem !important;
    text-align: right;
    line-height: 1;
    font-size: 1.1rem;
    padding-left: 1rem !important;
  }
  .card-text p {
      font-size: 1.04rem;
      font-variation-settings: "wght" 380;
  }
  img {
    object-fit: cover;

    @include break(lg) {
      width: var(--card-image-width, 50%);
    }
  }
}

.card-full-image {
  --section-link-color: #fff;
  --section-link-hover-color: #fff;

  .card-title {
    align-items: center;
    display: flex;
    margin-bottom: 0;
   // font-family: var(--bs-font-sans-serif);
    text-align: left;
  }
  .card-img-content {
    padding: 1rem;
    text-shadow: 0 0.1rem 0.1rem #000;

    .icon {
      font-size: 70%;
    }
  }
  .card-img-overlay {
    padding: 0;
  }
  &.text-at-top {

    .card-img-overlay {
      display: flex;
      width: 100%;
      align-items: start;
      background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 20%,rgba(0,0,0,0) 100%);
    }

    /* apply gradient to card instead of just title for better readability
    .card-img-content {
      background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 20%,rgba(0,0,0,0) 100%);
    }

    */

  }
  &.text-at-bottom {
    .card-img-overlay {
      display: flex;
      width: 100%;
      align-items: end;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 40%);
    }
    /* apply gradient to card instead of just title for better readability
    .card-img-content {
      background: linear-gradient(to top, rgba(0,0,0,0.6) 20%,rgba(0,0,0,0) 100%);
      width: 100%;
       }
       */

  }
}

/*  LIST-GROUP
    ========== */

.card {
  .list-group {
    @include padding(1rem);
  }
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
  }
}
