// Currently, we have two kinds of dropdowns: the details/summary-based
// ones, which are for the feature content on Academics, and the standard
// Bootstrap ones. I think we need those two styles, since they work for
// the content they have, but dropdowns should use details/summary, since
// it's simpler, more compatible, and won't break if we upgrade Bootstrap.



// https://css-tricks.com/how-to-animate-the-details-element-using-waapi/

.item-dropdown, details {
  summary {
    border: 1px solid transparent;
    outline: none;
    padding: 1rem;
    display: block;
//    padding-left: 2em;
    position: relative;
    cursor: pointer;
    margin-bottom: 1px;

    @include font-size(1.6rem);
    font-variation-settings: "wght" 340;

    &:focus {
      border-color: $black;
    }
  }
}
details {
  margin-left: 1rem;
  margin-right: 1rem;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--dropdown-border-color, $gray-300);
  }

  summary span {
    transition: 0.4s all ease;

    &:before {
      content: "\f107";
      line-height: 0;
      font-size: $h2-font-size;
      font-weight: 100;
      position: absolute;
      top: 0;
      left: 0;
//      transform: rotate(0);
//      transform-origin: center;
//      transition: 0.25s transform ease;
      color: var(--dropdown-closebox-openme-color, $gray-600);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1em;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;

    }
    &::-webkit-details-marker {
      display: none;
    }
  }
  &[open] > summary span:before {
//    transform: rotate(45deg);
  }
  &[open] {
    summary span {
      font-variation-settings: "wght" 800;
      font-size: $h2-font-size;
    }
  }
}

.dropdown__content {
  margin-top: 1rem;
  padding: 0 2rem 1.6rem 2rem;
}

details[open] summary span:before {
  color: var(--dropdown-closebox-closeme-color, $red);
  font-weight: bold;
}

button.accordion-button {
  border-bottom: 1px solid transparent;
}
button.accordion-button:hover,
button.accordion-button:focus {
  background: $gray-300;
  border-bottom: 1px solid $red;
  color: $burgundy;
}

details[open] {
  background: $gray-200;
  //  border-top: 1px solid $red;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
}
/*
details .dropdown__content {
  .col-sm {
//    opacity: 0;
    transition: 1s all ease;
    //    transition-delay: 1s;
  }
}

details.open .dropdown__content {
  .col-sm {
    opacity: 1;
  }
}
*/


.accordion {
  border-radius: 0.4rem;
  overflow: hidden;
}
