.flip-card {
  width: 100%;
  height: var(--flipcard-height, 2rem);
  perspective: 600px;

  .stretched-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    .card-content {
      transform: rotateY(180deg);
    }
    .card__face--front {
      background: $dark;
    }
  }
}

.card-content {
  color: $gray-700;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__face {
  width: 100%;
  height: 100%;
  padding: 2vw;
  box-shadow: 0 1em 1em rgba(0,0,0,0.2);
  border-radius: 0.4rem;

  @media (hover: hover) {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.card__face--front {
  background: #fff;
  transition: 1s background ease;
  text-align: center;
}

.card__face--back {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;

  @media (hover: hover) {
    transform: rotateY(180deg);
  }
}

.flip-card {
  .smaller {
    font-size: 80%;
  }
  .dollar {
    font-size: 60%;
    font-family: var(--bs-font-sans-serif);
    font-variation-settings: "wght" 400;
    color: $gray-400;
  }
  .flipcard__title {
    color: var(--flipcard-title-color, $burgundy);
  }
  .flipcard__value {
    font-size: 6rem;
    font-family: var(--font-big-serif);
    line-height: 0.6;
    margin: 0;
  }
}

.card__face.card__face--back {
    font-size: $h5-font-size;
}
