
.icon-item {
  padding: 1.4rem 0;

  p {
    &:only-child {
      margin: 0;
    }
  }

  &.small-font {
    --regularContent-font-size: var(--font-size-small);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--icon-item-border-color, #aaa);
  }

  &.theme-white-border {
    --icon-item-border-color: #fff;
  }

  .the-icon {
    color: var(--icon-color, $gray-600);
    font-size: 2.4rem;
  }

  &.icon-lg {
    .the-icon {
      font-size: 2.4rem;
    }
  }

  &.icon-on-left {
    display: flex;
    gap: 1rem;
  }

  &.icon-red {
    .the-icon {
      color: $red;
    }
  }

  .the-icon {
      margin-bottom: 1rem;
  }

  &.icon-on-left {

    .the-icon {
      display: inline-block;
      padding: 0.6rem;
      border-radius: 0.2rem;
    }
  }

  &.icon-feature {
    .the-icon {
      background: var(--section-text-color, $burgundy);
      color: var(--section-bg-color, #fff);
    }
  }
}
