
li {
  --regularContent-lineHeight: 1.3;
}

/* li element impacts too many parts of the product these fancy lists may need to be specified as there is also a need to use old fashioned plain bullets in certain scenarios. */

.list-fancy  li::marker {
  content: '\2B29  ';
  font-weight: bold;
  color: var(--list-item-bullet-color, $red);
  padding-right: 1rem;
  font-size: 80%;
}

