/*disabling list styles temporarily as these classes impacted too many instances of the li element

li {
  --regularContent-lineHeight: 1.3;
}


li::marker {
  content: '\2B29  ';
  font-weight: bold;
  color: var(--list-item-bullet-color, #f00);
  padding-right: 1rem;
  font-size: 80%;
}

*/