// regular stat items


.stat-item {
   background: #fff;
  padding: 2rem;
  border-radius: 0.6rem;
  text-align: center;

  .theme-burgundy &,
  .theme-dark-burgundy &,
  .theme-charcoal &,
  .theme-darkcoal & {
    color: var(--section-bg-color, #333);
  }
  .theme-burgundy-stats & {
    .stat-value {
      color: var(--color-vassar-burgundy);
    }
  }
}

.stat-value {
  font-family: var(--bs-font-sans-serif);
  @include font-size(8rem);
  font-variation-settings: "wght" 200;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .stat-unit {
    font-size: 70%;
//    color: #888;
  }
}

.stat-value-small {
  .stat-value {
    @include font-size(6rem);
  }
}
.stat-value-xsmall {
  .stat-value {
    @include font-size(4rem);
  }
}


// Homepage
.fancy-stats-container {
  .stat-value {
      font-size: 8rem;
      font-weight: 100;
  }
}


// I'm displaying stat values as flex so the unit (%, $, etc) can be
// centered. This works when the stat card has only one value, like
// most of what's on the site. In the case of the weather cards on
// /admission/quick-facts/community/, however, this is an issue
// because they contain multiple values.
//
// So this is a hack for the moment. What I need to do is design
// cards to have the ability to have additional values.

.unflex-stat-values {
  .stat-value {
    display: block;
  }
}
