// regular stat items


.stat-item {
  background: #fff;
  padding: 2rem;
  border-radius: 0.6rem;
  text-align: center;

  .theme-burgundy &,
  .theme-dark-burgundy &,
  .theme-charcoal &,
  .theme-darkcoal & {
    color: var(--section-bg-color, #333);
  }
}

.stat-value {
  font-family: var(--bs-font-sans-serif);
  @include font-size(8rem);
  font-variation-settings: "wght" 200;
  line-height: 1;

  .stat-unit {
    font-size: 70%;
    color: #888;
  }
}

// Homepage
.fancy-stats-container {
  .stat-value {
      font-size: 10vw;
      font-weight: 100;
  }
}
