@mixin animated-border-on-link(
    $hover-border-color,
    $existing-border-color: transparent,
    $nav-item-border-size: 1px
  ) {
  display: block;
  text-decoration: none;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0px bottom;
  transition: background 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition-property: background, color;
  background-image: linear-gradient(to right, $hover-border-color 0%, $hover-border-color 100%), linear-gradient(to right, $existing-border-color 0%, $existing-border-color 100%);
  background-size: 0% $nav-item-border-size, 100% $nav-item-border-size;
  padding: 0.5rem 0;
  opacity: 0.8;

  &:hover,
  &:focus {
//    opacity: 1;
//    color: var(--section-nav-emphasis-color);
    background-size: 100% $nav-item-border-size;
  }
}


.btn-check:focus+.btn-light, .btn-light:focus {
  border-color: #0004ff;
}


// Focus states

.hamburger-navigation-openBtn {
  &:focus {
    background: #000;
    color: #fff;
    border-color: #f00;
  }
}

@keyframes im-down-here {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.videoplayer_button {
  &:focus {
    background: #000;
    color: #fff;
    animation-name: im-down-here;
    animation-duration: 0.8s;
    animation-iteration-count: 6;
  }
}

.btn:focus-visible {
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(14 14 14 / 8%), 0 0 0 0.15rem #fff, 0 0 0 0.35rem #f00;
}



//  feature page mastheads

.sec-fixedCenteredTitleMasthead {
  background-color: #000;
}


// hamburger menu stuff

.main-menu-panel {
  background-color: var(--section-bg-color);
  --section-link-color: #fff;
  --section-link-hover-color: #fff;

  .linked-list {
    --border-accent-verylight-themebased: rgba(255,0,0,0.2);
    --linkedList-link-bg-hover: rgba(255,0,0,0.2);

    a {
      padding: 0.1rem 0;
      font-size: 1.2rem;

    }
  }


  &:after,
  &:before {
    position: fixed;
    content: '';
    width: 100%;
    height: 4rem;
    background: linear-gradient(to var(--fade-direction, top), transparent 0%, var(--section-bg-color) 100%);
    left: 0;
    z-index: 100;
  }

  &:before {
    top: 0;
  }
  &:after {
    --fade-direction: bottom;
    bottom: 0;
  }
  .offcanvas-body {
    padding: 1rem 1rem 4rem 1rem;
  }
  .vassar-masthead-offcanvas {
    z-index: 110;
    position: relative;
    width: 10rem;
    text-align: center;
    margin-top: 2rem;

    a {
      display: inline-block;
      transition: 0.4s all ease;

      &:hover {
        opacity: 0.4;
      }
    }

  }

  .megamenu-container {
    margin-top: 6rem;
  }

  // the following is for making expanded menu items highlighted

  .nav-item.d-flex {
    display: block !important;
  }
  .nav-item {
    position: relative;
    margin-bottom: 0 !important;
    padding-bottom: 0.5rem;
  }
  .main-nav-link {
    width: 90%;
    z-index: 20;
    margin-left: 1rem;

    & + [data-bs-toggle="collapse"] {
      position: absolute !important;
      right: 0;
      top: 0;
      width: 4rem;
      text-align: right;
      background-image: none;
      transition: all ease .4s !important;
          display: block;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: right;
          line-height: 0;
          padding-top: 0.2rem;

          padding-right: 0.6rem;

      &[aria-expanded="true"] {
        background: #852841;
        width: 100%;
      }
    }
  }


  .accordion-body.h3.text-left.px-0 {
      padding-top: 0;
      padding: 1.3rem !important;
      background: #852841;
  }

  // end highlighted expanded menu items



  .btn-close {
    position: absolute;
    right: 2vw;
    top: 2vw;
    z-index: 100;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
      opacity: .9;
    }
  }
  .megamenu-site-title {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      height: 3rem;
      border-left: 2px solid rgba(255,0,0,0.4);
      width: 1px;
      left: 1rem;
      top: calc(100% + 1.2rem);
    }

    a {
      color: #fff;
      opacity: 1;

      @include animated-border-on-link(#fff);
    }
  }
  .nav-items-col {
    margin-top: 5rem;
  }

  .knockedout {
    color: #fff;
    opacity: 0.6;
  }
}

$menu-cols-gap: 4rem;

.megamenu-cols-container {
  gap: $menu-cols-gap;
  max-width: 70rem;
  margin: 0 auto;
}
.vassar-masthead-offcanvas {
  margin: 0 auto 2rem auto;
}

.main-menu-panel {
  @media (min-width: 768px) {
    .quick-links-col.col-md-5 {
      flex: 0 0 auto;
      width: calc(41.66666667% - #{$menu-cols-gap});
    }
  }
}

.megamenu-site-nav .btn-close .fa-times {
    opacity: 0;
}

// carousel
.featureImage-text-ticker {
  @include break(md, max) {
    .carousel-cell {
      max-width: 90%;
      margin: 0 auto 2rem auto;
    }
  }
}



// homepage
// temporary video grid adjustment

.one-centered-wide-item-layout {
    grid-template-columns: 2fr 9fr 2fr;
}

.centered-wide-item {
	grid-column-start: 2;
}



// black bg on masthead

.sec-fixedCenteredTitleMasthead .section-bg-image-container,
.section--top-level-masthead {
  background: #000;
}
