.title-container {
  --gradient--black-to-transparent: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 60%);
}

.section__title__main {
  text-shadow: 0 0 1em #000, 0 0 0.4em #000, 0 0 0.2em #000;
}

.more-in-this-section {
  --column-gap: 1rem;
}
