/*
  This styling builds off that for sec_fullBleedImageColumn.
*/

.masthead--interiorPage {
  .masthead-title {
    font-weight: bold;
    letter-spacing: -0.028em;
    line-height: 1;
    position: relative;

    &:after {
      border: 2px solid #f00;
      bottom: -2.5rem;
      content: '';
      left: calc(50% - 2rem);
      position: absolute;
      width: 4rem;
    }
  }

  .columns {
    grid-template-columns: 6fr 4fr !important;
  }

  .section-intro {
    color: #666;
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/assets/images/spark.gif');
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 7rem;
    background-size: 7rem;
  }
}
