
/* external css: flickity.css */

* { box-sizing: border-box; }


.carousel {

}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  opacity: 0.2;
  transform: scale(0.7);
}


.is-selected {
  opacity: 1;
  transform: scale(1);
}

/*  LAYOUT
  ====== */

html {
  --carousel-height: 28rem;
}

.featureImage-text-ticker {
  .flickity-viewport {
    position: relative;
    height: 100% !important;
  }

  & {
    height: var(--carousel-height, 32em);
  }
  & .carousel-cell {
    height: 100%;



  }
  .carousel-cell-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: var(--carousel-gap, 1.3rem);
  }
  & .carousel-cell .image-container {
    width: fit-content;

    img {
      max-width: 100%;
      max-height: var(--carousel-height, 32em);
    }
  }
  .figcaption {
    background: #444;
    padding: 2rem;
    width: 20rem;

    h3 {
      margin-top: 0;
    }
  }
}


/*  Theme
    ===== */

.section--carousel {
  padding: 4rem;
}



.featureImage-text-ticker .carousel-cell.is-selected {
  z-index: 10;
}

.featureImage-text-ticker .carousel-cell-content {
  gap: 0;
  border-radius: 0.4em;
  overflow: hidden;
}


.featureImage-text-ticker .carousel-cell.is-selected .carousel-cell-content {
  box-shadow: 0 1em 1em rgba(0,0,0,0.4);
}


$border-distance: 0.6rem;

.featureImage-text-ticker {
  .btn-link {
    margin-top: 2rem;
  }
  .image-container {
    overflow: hidden;

    img {
      z-index: 10;
      position: relative;
      transition: 0.4s all ease;
    }
  }

  .figcaption {
    position: relative;

    &:before, &:after {
      position: absolute;
      content: '';
      border: 2px solid #f00;
      opacity: 0;
      width: 0;
      height: 0;
      transition: 0.4s all ease;
    }
    &:before {
      top: $border-distance;
      left: $border-distance;
      border-right: none;
      border-bottom: none;
    }
    &:after {
      bottom: $border-distance;
      right: $border-distance;
      border-top: none;
      border-left: none;
    }
  }
}


.featureImage-text-ticker .carousel-cell:hover {
  cursor: pointer;
  i.circle.fa-solid {
    background: #fff;
    color: #f00;
  }
  .figcaption {
    &:before,
    &:after {
      width: calc(100% - (2 * #{$border-distance}));
      height: calc(100% - (2 * #{$border-distance}));
      opacity: 1;
    }
  }
  img {
    filter: brightness(1.2);
    transform: scale(1.04);
  }
}
