@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sec-wordByWord {
  position: relative;
  height: fit-content;
  overflow: hidden;

  @include rfs(6rem, --section-padding);

  .section-content {
    max-width: 54em;
    margin-left: auto;
        margin-right: 0;
  }

  .image-container {
    position: absolute;
    top: 0;
    left: -3rem;
    height: 100%;
    width: 43%;
    transform: skewX(-10deg);
    overflow: hidden;
    background: #951829;
    opacity: 0.4;

    svg {
      width: calc(100% + 3em);
      height: 100%;
      position: absolute;
      object-fit: cover;
      transform: skewX(10deg);
//      mix-blend-mode: multiply;

//      filter: grayscale(1) contrast(2);
//      opacity: 0.6;

    }
  }
}

.word-by-word {
  overflow-wrap: break-word;
  --regularContent-lineHeight: 1.2;
  @include rfs(3rem, --regularContent-font-size);

  span {
    font-weight: 200;
    font-variation-settings: "wght" 240;
    font-family: var(--font-big-serif);
  }
}

$settings: (
  gap: 0.1s,
  max-items: 100,
);


span {
  display: inline-block;
  margin-right: 0.2em;

  @include sequence($settings);
  opacity: 0;

animation-duration: 0.8s;
  animation-name: fadein;
  animation-fill-mode: forwards;
}
