.theme-burgundy {
  --section-bg-color: var(--color-vassar-burgundy);
  --section-title-color: #f00;
  --section-text-color: #fff;

  --section-link-bg-color: transparent;
  --section-link-color: #ff0;
  --section-link-visited-color: #888;
  --section-link-hover-bg-color: #000;
  --section-link-hover-color: #0ff;
}
