
/*	LAYOUT
	====== */

html {
  --carousel-height: 6rem;
}

.flickity-viewport {
  position: relative;
  height: 100% !important;
}

.thumbnail-text-ticker {
  height: var(--carousel-height, 32em);
}
.thumbnail-text-ticker .carousel-cell {
  height: 100%;
  margin-right: 1em;
  width: 100%;
}
.carousel-cell-content {
  // width: 100%;
  display: flex;
  justify-content: center;
  max-width: 60rem;
  margin: 0 auto;
  gap: 1.3rem;
}
.thumbnail-text-ticker .carousel-cell .image-container {
//  height: auto;
//  width: calc(100% - 20rem);
  width: 10rem;
//  object-fit: contain;

  img {
    max-width: 100%;
    max-height: var(--carousel-height, 32em);
  }
}
.figcaption {
  max-width: 40rem;

  * {
    margin-top: 0;
  }
}



/*  Theme
    ===== */

.section--carousel {
//  background: #aaa;
  padding: 4rem;
}
