.display-1 {
  font-size: calc(1.725rem + 5.7vw);
}

/*
  Specifying these as CSS vars so they're easier to
  experiment with in the inspector
*/

:root {
  --sansSerif: 'Source Sans Variable';

  --regularContent-font-size: calc(1.265rem + 0.18vw);
  --regularContent-lineHeight: 1.36;
  --regularContent-font-weight: "wght" 340;
}

.sec-fixedCenteredTitle .section-intro-text,
.section-intro-text,
.intro-text {
  font-variation-settings: "wght" 340;
  font-family: var(--font-big-serif);
  line-height: 1.16;

//  font-family: var(--sansSerif);
//  font-weight: var(--regularContent-font-weight);
//  font-variation-settings: "wght" 300;
  font-size: var(--intro-text-size);
  font-weight: 100;
}

.page-intro-text {
  //
}

.col--text,
.section-content {
  p, li {
    font-family: var(--sansSerif);
    font-size: var(--regularContent-font-size);
    font-variation-settings: var(--regularContent-font-weight);
    line-height: var(--regularContent-lineHeight);
  }
}

.section-title {
  font-family: freight-display-pro;
  font-weight: 100;
}
