// $assets-path: 'https://codepen.csilverman.com';
$assets-path: '..';

@font-face{
    font-family: 'Source Sans Variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('https://assets.codepen.io/49012/SourceSansVariable-Roman.ttf.woff2') format('woff2'),
         url('https://assets.codepen.io/49012/SourceSansVariable-Roman.ttf.woff') format('woff'),
         url('https://assets.codepen.io/49012/SourceSansVariable-Roman.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Variable';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('https://assets.codepen.io/49012/SourceSansVariable-Italic.ttf.woff2') format('woff2'),
         url('https://assets.codepen.io/49012/SourceSansVariable-Italic.ttf.woff') format('woff'),
         url('https://assets.codepen.io/49012/SourceSansVariable-Italic.ttf') format('truetype');
}

:root {
    --content-width-1: 60rem;
    --bs-font-sans-serif: 'Source Sans Variable', system-ui, Helvetica, Arial, sans-serif;

    --font-big-serif: freight-display-pro;

    --color-lightgray: #eee;

    --h2-font-size: calc(1.525rem + 3.3vw);
    --font-size-small: 1.24rem;

    --color-vassar-burgundy: #951829;
    --color-vassar-dark-burgundy: #641A2B;

    --color-vassar-lightgray: #eee;
    --color-vassar-darkgray: #63666A;
    --color-vassar-charcoal: #333;

    --color-vassar-cream: #FFF8EF;
    --color-vassar-rose: #F2D4D7;

    --nav-link-text-color: #fff;
    --nav-link-bg-color: var(--color-vassar-burgundy);

    --box-shadow-color: rgba(10,30,20,0.1);
}


$vassar__inner-container: '.section-content' !default;

$vassar__breakpoints: (
  sm: 40em,
  md: 50em,
  lg: 60em
) !default;


// Widths
$vassar__inner-widths: (
  25: 25%,
  33: 33%,
  50: 50%,
  75: 75%
) !default;

$vassar__max-widths: 100ch 120ch 140ch 160ch !default;


html {
  overflow-x: hidden;
}


.bg-lightgray {
  background-color: var(--color-lightgray);
}

img {
  width: 100%;
}

.c {
  color: #0f0;
}

.supertitle {
  display: block;
  font-size: max(1rem, 60%);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.mw-1 {
  max-width: var(--content-width-1);
}
.content-container {
  margin-left: auto;
  margin-right: auto;
}

@import "_row-basics";
@import "_mixins";
@import "_libraries/_all";

@import "_animations/_all";

@import "_items/_all";

@import "_atoms/_all";


@import "_sequential";
@import "_section-basics";
@import "_section-with-columns";
@import "_section-has-image";
@import "_section-video-masthead";
@import "_section-intro";
@import "_section-card-array";
@import "_section-tile-grid";
@import "_section-word-by-word";
@import "_content-sections/_all";

@import "_type";
@import "_breadcrumb";
@import "_vassar-masthead";

@import "_top-level-masthead";
@import "_section-with-bg";

@import "_bootstrap-additions";
@import "_utilities/_all";
@import "_tools/_all";
@import "_themes";
