// todo: have the text-shadow be a CSS var
// integrate this into the section styling - shouldn't
// be its own class

.section-title-text-shadow {
  &:not(.show-content) {
    .section-title {
      b {
        text-shadow: 0 0em 0.2em #000;
      }
    }
  }
}


/* work these headings into type base */

// @include break(md) {
  .fancy-heading:before,
  .fancy-heading:after {
    content: '';
    color: $red;
    letter-spacing: -0.1rem;
    font-weight: normal;
    width: 10vw;
    background: $red;
    height: 1px;
    display: inline-block;
    margin-bottom: 0.4rem;
  }

  .fancy-heading:before {
    margin-right: 1rem;
  }
  .fancy-heading:after {
    margin-left: 1rem;
  }

// }

/* review this min-height class for the flickity quote fade slider */

//.the-quote-ticker {
//  min-height: 70vh;
//}
