
.alums-spotlight {
  --carousel-height: 33rem;
  --carousel-gap: 0;

  .flickity-viewport {
    overflow: visible;
  }
  .image-container {
    padding: 0;

    img {
      box-shadow: 0 0 1em #000;
    }
  }
  .figcaption {
    padding: 2rem;
    background: $gray-900;
  }

  .section {
    padding: 0;
  }
  & .carousel-cell .image-container {
      width: calc(100% - 20rem);
  }
  & .carousel-cell .image-container img {
    max-width: 100%;
    height: auto;
  }
  .image-container {
      position: relative;
      z-index: 1;
  }

}
