/*  spark */

.spark-1 {
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  opacity: 1;
  transform-origin: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
}

.spark-line {
  position: absolute;
  width: 10rem;
  border-top: 2px solid #fff;
  bottom: 0;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.line-1 {
  transform: rotate(-45deg);
}

.line-2 {
  transform: rotate(-22deg);
}

.line-3 {
  transform: rotate(-67deg);
}

.spark-container {
  width: 10rem;
  height: 10rem;
  position: relative;
}

.spark-container > * {
  transition: 1s all ease;
  width: 0;
  height: 0;
  transition-delay: 0.4s;
}

.content-appeared .spark-1 {
  width: 10rem;
  height: 10rem;
  opacity: 0;
}

.content-appeared .spark-line {
  width: 20rem;
  opacity: 0;
}

/* end spark */


/* diagonal button */

.diag-btn {
  background-color: #fff !important;
  color: $gray-800 !important;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  transform: skewX(-10deg);
  display: inline-block;
  transition: 1s all ease;
  transition-delay: 1s;
  clip-path: inset(0 100% 0 0);
}
.diag-btn span {
  display: inline-block;
  transform: skewX(10deg);
  font-variation-settings: "wght" 500;
}
.content-appeared .diag-btn {
  clip-path: inset(0 0 0 0);
}

/* end diagonal butotn */
