


.ticker-section {
  --section-padding: clamp(1rem, 10%, 4rem) 0;
  text-align: center;

  .section-content {
  //  max-width: none;
  }

  p {
    margin-bottom: 0;
  }


  p, li {
    font-weight: 200;
    font-variation-settings: "wght" 240;
   // font-family: var(--font-big-serif);
      @include font-size(4rem);
  }


}

/* commenting out as the awesome_ticker is not in use




.awesome_ticker {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: #000;

  ul {
    padding: 0;
  }
  li {
    margin-right: 0.4em;
  }
  ul, li {
    display: inline;
  }

  #div1 {
    display: inline-block;
    animation: marquee 34s linear infinite;
  }

  #div2 {
    display: inline-block;
    animation: marquee2 34s linear infinite;
    animation-delay: 17s;
  }

}




.vassar-is {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0);
//    transform: translateX(-200%);
  }
  to {
//    transform: translateX(0);
    transform: translateX(-200%);
  }
}


 */