/*
 * This is a generic list that other list-based patterns rely on. It removes the bullet points and adds borders between each item.
 */

.clean-list-with-borders {
  padding-left: 0;

  li {
    list-style: none;
    padding-top: var(--list-border-padding, 0.4rem);
    padding-bottom: var(--list-border-padding, 0.4rem);

    &:not(:last-child) {
      border-bottom: 1px solid var(--list-border-color, #ccc);      
    }
  }
}
