/*
This is a generic container element for containing a 100vh fixed-position element. You'd use it as follows:

.section // position: relative
  .clip-frame
    .element // position: fixed; height: 100vh, etc


 */

.clip-frame {
  height: max(100%, 100vh);
  position: absolute;
  width: 100%;
  clip-path: inset(0 0 0 0);
  top: 0;
  left: 0;
}
