@font-face{
  font-family: 'Source Sans Variable';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url('https://assets.codepen.io/49012/SourceSansVariable-Roman.ttf.woff2') format('woff2'),
  url('https://assets.codepen.io/49012/SourceSansVariable-Roman.ttf.woff') format('woff'),
  url('https://assets.codepen.io/49012/SourceSansVariable-Roman.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Variable';
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url('https://assets.codepen.io/49012/SourceSansVariable-Italic.ttf.woff2') format('woff2'),
  url('https://assets.codepen.io/49012/SourceSansVariable-Italic.ttf.woff') format('woff'),
  url('https://assets.codepen.io/49012/SourceSansVariable-Italic.ttf') format('truetype');
}


.intro-line {
  // font-size: calc(1.255rem + 0.06vw);
  font-size: $font-size-lg;
  text-transform: uppercase;
  font-variation-settings: "wght" 700;
  letter-spacing: $letter-spacing;
  color: var(--intro-line-color, $burgundy);
  display: block;
  margin-bottom: $spacer * 3;
  font-family: var(--bs-font-sans-serif);
  // text-align: center;
}


strong {
  font-variation-settings: "wght" 700;
}


.tagline {
  //font-size: calc(1.255rem + 0.06vw);
  font-size:  $h5-font-size;
  text-transform: uppercase;
  font-variation-settings: "wght" 700;
  letter-spacing: 0.1rem;
  display: block;
  font-family: var(--bs-font-sans-serif);
}

.section-content h3 {
    margin-top: 2rem;
}

h4 {
  font-family: var(--bs-font-sans-serif);
  font-variation-settings: "wght" 700;
}
