ul.style-checklist {
  background: #fff;
  color: #333;
  padding: 4rem;

  &.theme-cream {
    background: var(--color-vassar-cream);
  }
}

ul.style-checklist a {
  color: #f00;
  border-bottom: 1px solid
}

.style-checklist > li,
.style-checklist.style-sub-items li {
  position: relative;
  padding: 1.2rem 0 1.2rem 2.4rem;
  list-style: none;
  border-bottom: 1px solid #ddd;
  line-height: 1.62;
  font-size: 1.2rem;


  &:before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border: 2px dashed #aaa;
    position: absolute;
    left: 0;
    top: 1.6rem;
  }
}
