.staff-contact {
  background: var(--color-vassar-cream);
  padding: 2rem;
  border-radius: 0.4rem;
  border-bottom: 1px solid #ccc;

  @include break(md, max) {
    margin-bottom: 1rem;
  }

  h3 {
    a {
      &:hover,
      &:visited:hover,
      &:focus,
      &:active       {
        --section-text-color: var(--color-vassar-burgundy);
        border-bottom: 1px solid var(--color-vassar-burgundy);
      }
    }
  }

  .contact-name {
    margin-bottom: 0.2rem;
  }
  .contact-title {
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.2;
  }
  .contact-links {
    margin-bottom: 0;

    a {
      font-size: 1.1rem;
      border: none;
      font-variation-settings: "wght" 400;
      transition: 0.2s all ease;

      &:link,
      &:visited {
        &:hover,
        &:focus {
          color: #d00;
        }
      }
    }
  }
}
