.linked-list {
  padding-left: 0;

  li {
    list-style: none;
    border-top: 1px solid var(--border-accent-verylight-themebased, #ddd);
  }

  a {
    display: block;
    font-variation-settings: "wght" 400;
    display: block;
    padding: 0.4rem;

    &:after {
      content: "→";
      width: 2rem;
      height: 2rem;
      display: inline-flex;
      justify-content: center;
      padding-bottom: 0.12rem;
      font-size: 1.4rem;
      align-items: center;
      transition: 0.4s margin ease;
    }
    &:hover,
    &:focus {
      background: var(--linkedList-link-bg-hover, $gray-200);

      &:after {
        margin-left: 0.4rem;
      }
    }
  }

}
