.page-index-side {
  padding: 0 2rem;

  @include break(md, max) {
    margin-bottom: 3rem;
  }
  @include break(md) {
    padding: 2rem 4rem 0 0;
  }

  .nav {
    display: block;
    overflow-y: auto;

    @include break(md) {
      height: 100vh;
    }
  }
  .sticky-top {
    top: 2rem;
  }
  .list-group-item {
    border: none;
//    border-bottom: 1px solid #ddd;
    padding: 0;

    ul {
      padding-left: 1rem;
      border-left: 1px solid #ddd;

      a {
        font-size: 1rem;
      }
    }
  }
  .top-level-item {
    font-variation-settings: "wght" 700;
  }
  .nav-link {
    padding: 0.4rem 1rem 0.4rem 0;
    transition: 0.4s all ease;

    &:hover {
      background: $burgundy;
      color: #fff;
      padding: 0.4rem 0rem 0.4rem 1rem;
    }
  }
}
