/* */


.presentation-item {
  background: #faf5f5;
  margin-bottom: 1rem;
  @include padding(2rem);
  position: relative;
  z-index: 4;
}

.presentation-title {
  font-size: 1.4rem;
  letter-spacing: -0.016rem;
  margin-bottom: 0.3rem;
}
.pres-member__title,
.pres-member__name {
  font-size: 1.1rem;
  line-height: 1.2;
}
.pres-member__title {
  margin: 0;
}
.pres-member-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.presentation-content p {
    line-height: 1.36;
    font-size: 1.26rem;
}
.presentation-meta-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  margin: 0 0 0.6rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 0.4rem;

    .presentation-meta-item {
      color: #495057;
      font-variation-settings: "wght" 500;
      font-size: 1.1rem;
      margin: 0;
    }
}
.pres-member {
  &.has-image {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: 1fr 6fr;
  }
}
.pres-member__name {
    margin-bottom: 0.2rem;
    font-family: var(--bs-font-sans-serif);
    font-variation-settings: "wght" 700;
}
.pres-member__image {
    height: 0;
    overflow: hidden;
    position: relative;
    border-radius: 10rem;
    width: 100%;
    padding-bottom: 100%;
}

.pres-member__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.pres-members {
}

.presentation-subheading {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;  
}

.presentation-item .event__time {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}


.presentation-subheading {
  margin-top: 2rem;
  position: relative;
  overflow: hidden;

  &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      border-top: 1px solid rgba(0,0,0,0.1);;
      margin-left: 1rem;
      top: 50%;
  }
}


.presentation-title,
.pres-member__name {
  --section-text-color: #a00;
  a {
    text-decoration: underline #a00;
    &:link,
    &:visited {
      &:hover,
      &:focus {
        --section-text-color: #000;
        text-decoration: none;
      }
    }
  }
}
