.node--type-alert {
    --section-text-color: #fff;
}

.node--type-alert a,
.node--type-alert a:visited {
    color: #fff;
}
.node--type-alert a:hover,
.node--type-alert a:focus {
    text-decoration: none;
}