.section {
  background-color: var(--section-bg-color, #fff);
  color: var(--section-text-color, --color-vassar-charcoal);
//  padding: var(--section-padding, clamp(1rem, 10%, 4rem));

  padding: var(--section-padding, clamp(0.2rem, 4%, 4rem));
  @include padding-top(4.5rem);
}


.section {
  .section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    clip-path: inset(0 0 0 0);

  --bg-shim-background: rgba(0,0,0,0.2);

  @include background-image( true );

  --animate-shrink-in-startSize: 1.1;

    &:after {
      @include setup-animate-shrink-in();
      @include animate-shrink-in();
    }
  }
}




.section-title {
  color: var(--section-title-color, --color-vassar-charcoal);

font-size: calc(1.465rem + 2.58vw);
  .section-large-title & {
    @include font-size(4.5rem);
  }

  font-weight: 100;
  text-align: center;

  margin-top: -1em;
  padding-top: 1em;

  position: relative;
  text-align: center;
  margin-bottom: var(--section-title-space, 6rem);

  max-width: 30ch;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.1;

  &:after {
    position: absolute;
    content: '';
    width: 1em;
    border-top: 0.05em solid var(--section-title-border-color, $red);
    left: calc(50% - 0.5em);
    bottom: -1.4rem;
  }

  &.animate-when-content-appears {
    @include setup-animation-fade-in();

    &:after {
      @include setup-animation-stretch-in();
    }

    &.content-appeared {
      @include animation-fade-in();
      &:after {
        @include animation-stretch-in();
      }
    }
  }
}


//  While working on Quick Facts, I realized that the structure of
//  the page requires sections that are more clearly sub-parts of
//  other sections. Example I'm looking at right now is the Community
//  page: there's an Our Campus section, and then a subsection about
//  the weather. Both require a large, immersive treatment, but Weather
//  is a sub-section of Our Campus; cramming both into a single row is
//  not going to be good. So long story short: I'm adding an option to
//  display section titles as h3s.
//
//  This thing launches in fifteen days. Don't @ me.

h3.section-title {
  @include font-size(2.3rem);
  font-weight: bold;
  font-family: var(--sansSerif);
}

.section-content {
  max-width: 90ch;
  margin: 0 auto;
}

.section.has-bg {
  position: relative;

  .section-title,
  .section-content {
    position: relative;
    z-index: 100;
  }

  &:after {
    background-image: var(--bg-image);
    background-size: var(--bg-image-size, cover);
    background-attachment: fixed;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    opacity: var(--bg-image-opacity, 1);
  }
}

.wide-intro {
  .section-intro {
    --section-intro-width: 56rem;
  }
}


.section--edge-to-edge {
  padding-left: 0;
  padding-right: 0;

  .section-content {
    max-width: none;
  }

  @include break(md) {
    &-md {
      padding-left: 0;
      padding-right: 0;

      .section-content {
        max-width: none;
      }
    }
  }
}


.section.has-bg {
  .section-intro,
  .section-content {
    position: relative;
    z-index: 100;
  }
}


h3.section-title {
  &:after {
    width: 4rem;
    border-width: 3px;
  }
}
