.section--wide-content {
  &.has-intro {
    .section-title {
      margin-bottom: 1em;
    }
  }
  .section-intro {
    max-width: 60em;
    margin: 0 auto;
    margin-bottom: var(--lower-margin, 4rem);
    text-align: center;
  }
  .section-content {
    max-width: none;
  }
}
