.position-center {
  margin-left: auto;
  margin-right: auto;
}

// for buttons and elements that would normally be inline
.center-object {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
