@include break(sm) {
  .mb-sm-3 {
    margin-bottom: $spacer;
  }
}

@include break(md) {
  .mb-md-3 {
    margin-bottom: $spacer;
  }
}

@include break(lg) {
  .mb-md-3 {
    margin-bottom: $spacer;
  }
}


@include break(sm, max) {
  .mb-below-sm-3 {
    margin-bottom: $spacer;
  }
}

@include break(md, max) {
  .mb-below-md-3 {
    margin-bottom: $spacer;
  }
}

@include break(lg, max) {
  .mb-below-md-3 {
    margin-bottom: $spacer;
  }
}
