.link--cta {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    transition: 0.4s all ease;

  .fa-arrow-right {
    padding: 0.4rem;
    border-radius: 5rem;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--section-link-color, var(--color-vassar-burgundy));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all ease;
  }

  &:hover,
  &:focus {
    .fa-arrow-right {
      background: var(--section-link-color, var(--color-vassar-burgundy));
      color: var(--section-bg-color, #fff);
    }
  }
}
