.btn.has-icon {
  display: inline-flex;
  align-items: center;

  .fa {
    margin-right: 0.4rem;
  }
}

.icon-card {
  background-color: var(--section-link-bg-color, transparent);
  color: var(--section-link-color, var(--color-vassar-burgundy));
}
