.btn.has-icon {
  display: inline-flex;
  align-items: center;

  .fa {
    margin-right: 0.4rem;
  }
}

.icon-card {
  background-color: var(--section-link-bg-color, transparent);
  color: var(--section-link-color, $burgundy);
}



.btn-lg i {
  font-size: $btn-font-size;
  padding: 0 0 0 0.5rem;
}


.btn-lg {
  text-transform:uppercase;
  letter-spacing: $letter-spacing;
  font-variation-settings: "wght" 600;
}





.btn-link:active, .btn-link:focus {
  box-shadow: none;
}


.btn.arrow::after {
  content: "→";
  margin-left: .75rem;
  transition: 0.4s all ease;
}
.btn.btn-text.arrow:hover,
.btn.btn-text.arrow:focus {
  &:after {
    box-shadow: 0 0 0.2em var(--arrow-glow, var(--section-link-hover-color, #fff));
  }
}

.btn-link {
  font-size: $btn-font-size;
  font-variation-settings: "wght" 600;
}





.btn-link.arrow:not(.stretched-link):after {
  content: "→";
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  padding-bottom: 0.12rem;
  font-size: 1.4rem;
  align-items: center;
  border-radius: 50%;
  margin-left: 1rem;
}



.btn-link.arrow:not(.stretched-link):hover:after,
// .carousel-cell:hover .arrow:after,
.btn-link.arrow:not(.stretched-link):focus:after {
// .carousel-cell:focus .arrow:after {
  background-color: var(--section-link-color, $red);
  border-color: var(--section-link-color, $red);
  color: var(--section-bg-color, var(--color-vassar-cream));
}
