.link-icon {
    display: inline-block;
    width: fit-content;
    border: 1px solid #fff;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
