.link-to-top {
  position: fixed;
  bottom: 2rem;
  left: calc(50vw - 3.4rem);
  padding: 0.1rem 0.6rem;
  background: rgba(255,255,255,0.6);
  border-radius: 2rem;
  backdrop-filter: blur(20px);
  z-index: 1000;
  opacity: 0;
  transition: 0.4s all ease;
//  border: none;

  border: 1px solid #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);

  .show-top-link & {
    opacity: 1;

    &:link,
    &:visited {
      color: #400;

      &:hover,
      &:focus {
        background: #333;
        color: #eee;
      }
    }
  }
}
